[submodule "data"]
	path = data
	url = https://gitlab.com/lierolibre/lierolibre-data.git
[submodule "gvl"]
	path = src/gvl
	url = https://gitlab.com/lierolibre/gvl.git
[submodule "windows"]
	path = windows
	url = https://gitlab.com/lierolibre/lierolibre-w32depends.git
